@import "../styles/lp-bar-archive.css";
@import "../styles/lp-bar-turntable.css";
@import "../styles/lp-bar-prototype.css";

html {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #16110d;
}

#__next,
body > div {
  /* Next.js root container */
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}
